/* src/components/DetailComponent.css */
.detail-container {
    font-family: Arial, sans-serif;
    color: white;
    background: radial-gradient(circle at center, rgb(83, 57, 101) 0%, rgba(0, 0, 0, 1) 65%);
    padding: 50px;
  }
  
  .detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .partners {
    margin-top: 50px;
    overflow: hidden;
    width: 100%;
  }
  
  .partner-list {
    display: flex;
    animation: scroll-left 120s linear infinite;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .partner-item {
    font-size: 60px;
    color: white;
    margin-right: 100px;
    padding: 10px;
    font-weight: bold;
  }
  
  /* Nhân đôi danh sách để tạo hiệu ứng cuộn liên tục */
  .partner-list::after {
    content: attr(data-content);
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  
  .logo img {
    width: 150px;
  }
  
  .partners img {
    width: 100px;
    margin-right: 20px;
  }
  
  .partners img:last-child {
    margin-right: 0;
  }
  
  .detail-content {
    text-align: center;
    margin-top: 50px;
  }
  
  .detail-content h1 {
    font-size: 60px;
    height: 40vh;
    margin-top: 16%;
    margin-bottom: 20%;
  }
  
  .highlight {
    color: #ff6f61;
  }
  
  .detail-content p {
    font-size: 24px;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .detail-footer {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 315px;
  }

  .p-title {
    font-size: 50px !important;
  }
  
  .footer-buttons button {
    background-color: transparent;
    border: 2px solid #ff6f61;
    color: #ff6f61;
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .footer-buttons button:hover {
    background-color: #ff6f61;
    color: white;
  }
  